.App {
  text-align: center;
  margin-top: 50px;
}

.App > .todo {
  margin: auto;
  width: 50%;
}
div > div {
  width: 80%;
  margin: auto;
}

.App > .todo > label {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px dotted green;
}

.App > .todo > input {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px dotted teal;
  outline: none;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  color: teal;
}

.App > .todo > button {
  width: 40%;
  height: 30px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 800;
}
